<h1>Planets</h1>
<table>
    <% @planets.each do |planet| %>
        <tr>
            <td id ='planetName'><%= link_to planet.name, planet_path(planet) %></td>
            <td>Distance from the sun: <%= planet.distance_from_sun %></td>
            <td>Diameter: <%= planet.diameter%></td>
            <td>Orbit period: <%= planet.orbit_period %></td>
            
        </tr>
    <% end %>
</table>
