<h1>RANDOM PLANET</h1>

<h2><%= @planet.name %></h2>

<p>Distance from the sun: <%= @planet.distance_from_sun %></p>
<p>Diameter: <%= @planet.diameter%></p>
<p>Orbit period: <%= @planet.orbit_period %></p>