<h1>Planets</h1>
<table>
    <% @planets.each do |planet| %>
        <tr>
            <td><%= planet.name %></td>
            <td><%= planet.distance_from_sun %></td>
            <td><%= planet.diameter%></td>
            <td><%= planet.orbit_period %></td>
        </tr>
    <% end %>
</table>