// Place all the styles related to the Planet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Gugi');

$font-stack: 'Gugi', cursive;

#planetName {
    color: darkblue;
}

#orbitPeriod{
    margin-bottom: 350px;
}
#linkToMoons {
    margin: 10% 0 10% 45%;
}